{% extends "layout.html" %}
{% block body %}    <!-- Custom styles for this template -->
<link href="../static/custom_css/search_body.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="beerSearchInput">Search Beers</label>
            <input type="text" class="form-control" id="beerSearchInput" aria-describedby="searchHelp"
                   placeholder="Search the beers..."/>
            <small id="searchHelp" class="form-text text-muted">
                Please enter keywords associated with the beer you wish to search!
            </small>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="filter-chooser">
                <option selected value="" id="choose_filter_sel">Choose Filter...</option>
                <option value="name" id="name_sel">Name</option>
                <option value="keywords" id="keywords_sel">Keywords</option>
                <option value="brewery" id="brewery_sel">Brewery</option>
                <option value="style" id="style_sel">Style</option>
                <option value="category" id="category_sel">Category</option>
                <option style="display:none" value="city" id="city_sel">City</option>
                <option style="display:none" value="state" id="state_sel">State</option>
                <option style="display:none" value="country" id="country_sel">Country</option>
            </select>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="entity-chooser" onchange="beer_or_brewery()">
                <option selected value="beer">Beer</option>
                <option value="brewery">Brewery</option>
            </select>
            <button type="button" class="btn btn-primary"
                    onclick="search_by_keywords()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Submit
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="beerTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Style</th>
                    <th>ABV (%)</th>
                    <th>IBU</th>
                    <th>Brewery Responsible</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <hr>
            <table class="table" id="breweryTable" style="display:none">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
{% endblock %}